/* About */

p.about-p {
    color: #171717 !important;
}

/* about-section-2 */
.about-section-2 .container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-section-2 img {
    margin-bottom: 15px !important;
}

/* about-section-3 */
.about-section-3 {
    background: linear-gradient(90deg, white 70%, var(--yellow) 70%);
}

.about-img-3-2 {
    width: 57vw;
}

.about-3-img {
    padding-left: 5vw;
}

/* About-end */


/* Services */

.services-section {
    background: linear-gradient(90deg, white 70%, var(--yellow) 70%);
    padding: 40px 6vw;
}

#services-circles-yellow {
    height: 50px !important;
}

#services-circles-bl {
    position: relative;
    left: 64px;
    top: 2px;
    height: 50px !important;
}

.service-1 {
    margin-top: 40px;
}

.service {
    padding: 10px 0;
}

.service-img,
.service-text {
    padding: 0 20px !important;
}

.service-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Services-end */


/* Process-start */

.processes p {
    margin: 0 !important;
}

.process-img {
    padding: 35px 3vw 35px 12px;
}

.process-text {
    padding: 35px 12px 35px 3vw;
}

.process-num {
    background: var(--yellow);
    color: white;
    font-family: "Gotham", sans-serif;
    font-size: 9vw;
    font-weight: 700;
}

/* process-end */


/* contact-start */

label h5 {
    letter-spacing: unset;
}

.form-name,
.form-email,
.form-message {
    display: flex;
    flex-direction: column;
}

#name-input,
#email-input {
    border: none !important;
    border-bottom: 1pt solid black !important;
    outline: none !important;
    padding: 5px 0;
}

.contact-section input,
.contact-section textarea {
    color: black;
    font-size: 18px;
}

textarea {
    border: 0.5pt solid black;
}

#contact-circles {
    max-height: 70px !important;
    position: relative;
    bottom: 100px;
    right: 50px;
}

.contact-img {
    display: flex;
    background-image: url(./pics/contact-section.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 60px;
}


/* Blog-start */

#blog-text {
    position: relative;
    bottom: 20px;
}

.blog-section-1 .blog-card {
    padding: 0 15px;
}

.slick-prev:before,
.slick-next:before {
    color: rgba(68, 68, 68, 0.397) !important;
}

.blog-section-2 {
    background: linear-gradient(90deg, var(--yellow) 30%, white 30%);
    padding: 30px 0;
}

#blog-arrow {
    position: relative;
    display: flex;
    top: 30px;
    margin-left: auto;
    opacity: 0.7;
}

#blog-arrow:hover {
    opacity: 1;
}

.blog-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img {
    background: var(--light-gray);
    height: 400px;
    margin-bottom: 30px;
}

.card-date {
    color: var(--dark-gray);
    font-size: 12px;
}

.blog-section-3 .card-img {
    height: 300px;
}

.blog-section-3 h5 {
    font-size: 16px !important;
}

.blog-section-3 h3 {
    font-size: 30px !important;
    line-height: 42px !important;
}

.blog-section-3 p {
    font-size: 16px !important;
    line-height: 24px !important;
    padding-top: 10px;
}

.blog-section-3 .card-img {
    margin-bottom: 15px;
}

/* blog-end */


/* blog-post-start */

#blog-post-title .title-circles {
    bottom: 310px;
}

.blog-post-icons {
    display: flex;
    margin-left: auto;
    gap: 40px;
}

#heart-svg {
    fill: black;
}

#heart-svg:hover path{
    fill: red;
}

/* Media Queries */

@media (max-width: 1200px) {
    .blog-section-1 h5 {
        font-size: 21px !important;
    }

    .blog-section-3 h3 {
        font-size: 25px !important;
        line-height: 36px !important;
    }

    #blog-post-title .title-circles {
        bottom: 300px;
    }
}

@media (max-width: 991px) {

    /* about */

    p.about-p {
        font-size: 18px !important;
        line-height: 28px !important;
    }

    .about-section-3 {
        background: white;
    }

    .about-section-3 .col-sm-5 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-3-img {
        margin: 30px 0;
        gap: 20px;
    }

    /* contact */

    .contact-section input,
    .contact-section textarea {
        font-size: 14px;
    }

    .contact-img {
        background-position: center center;
        margin-top: 0;
    }

    /* blog */

    .blog-section-1 h5 {
        font-size: 18px !important;
    }

    .card-img {
        height: 300px;
    }

    .blog-section-3 .card-img {
        height: 200px;
    }

    .blog-section-3 h5 {
        font-size: 12px !important;
    }

    .blog-section-3 h3 {
        font-size: 20px !important;
        line-height: 30px !important;
    }

    .blog-section-3 p {
        font-size: 12px !important;
        line-height: 20px !important;
        padding-top: 10px;
    }

    .blog-section-3 .card-date {
        font-size: 8px !important;
    }
}

@media (max-width: 767px) {
    /* about */

    .about-section-2 {
        padding-top: 15px !important;
    }

    .about-section-3 {
        margin-top: 30px;
    }

    .about-3-img {
        margin-top: 10px;
        padding: 0px 12px;
    }

    /* blog */

    .blog-section-3 .card-details {
        display: flex;
        gap: 15px;
    }

    .blog-section-3 p {
        padding: 0 !important;
    }

    .blog-section-3 .card-img {
        margin: 0 !important;
    }

    .blog-section-3 .blog-card {
        margin-bottom: 30px;
    }
}

@media (max-width: 575px) {

    /* service.html */
    .services-section {
        background: linear-gradient(180deg, white 65%, var(--yellow) 65%);
        padding: 0 15px 40px 15px;
    }

    .service {
        padding: 20px 0 !important;
    }

    .service-img,
    .service-text {
        padding: 0 15px !important;
    }

    .service-text h3 {
        margin: 7px 0 3px 0;
    }

    /* service.html end */


    /* process.html */
    .process-num {
        order: -1;
        font-size: 80px !important;
    }

    .process-img {
        padding: 10px 7px 40px 12px;
    }

    .process-text {
        padding: 10px 7px 40px 12px;
    }

    .process-text h3 {
        font-size: 26px !important;
    }

    /* process.html end */


    /* blog-start */

    .blog-section-1 .blog-card {
        padding: 0 12px;
    }

    .blog-section-2 {
        background: linear-gradient(180deg, var(--yellow) 25%, white 25%, white 91%, var(--yellow) 91%);
        padding-bottom: 5px !important;
    }

    .blog-section-2 .card-date,
    #name-svg path,
    #date-svg path {
        color: white !important;
        fill: white !important;
    }

    .publish-info {
        position: relative;
        top: 20px;
    }

    #blog-arrow {
        top: -36px;
        width: 80px !important;
    }

    .blog-section-3 .card-details {
        gap: 10px;
    }

    .blog-section-3 h5 {
        font-size: 14px !important;
    }

    .blog-section-3 h3 {
        font-size: 19px !important;
    }
}